# Add Skull Effects to Note Block
public net.minecraft.world.level.block.state.properties.NoteBlockInstrument$Type

# Add more skulls to skull block entity type
public-f net.minecraft.world.level.block.entity.BlockEntityType validBlocks # validBlocks
